---
title: About
lead: Welcome to my blog!
---
<article about="/about">
  <img alt="" class="staff-photo" src="/sites/default/files/John.png" style="width: 300px; height: 356px;">
  <h3>John Ferris</h3>
  <p>That's me. I started Pixel Whip with more than 12 years of experience in web/graphic design and developing interactive content. I live in Colorado Springs, CO with my wife Melissa, dog Rudy, and step-cat Faticus Max. When I'm not behind the computer, I like to get my hands dirty in the vegetable garden and watch the grass grow.</p>
</article>
